{# Socials #}
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 medium-6 cell text-center">
    <ul class="menu align-center">
     {% for block in socials.socials.all() %}
      {% switch block.type %}
        {% case "instagram" %}
          <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-socials icon-instagram"><use xlink:href="/assets/icons/symbol-defs.{{staticAssetsVersion}}.svg#icon-instagram"></use></svg></a></li>
        {% case "twitter" %}
          <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-socials icon-twitter"><use xlink:href="/assets/icons/symbol-defs.{{staticAssetsVersion}}.svg#icon-twitter"></use></svg></a></li>
        {% case "facebook" %}
          <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-socials icon-facebook"><use xlink:href="/assets/icons/symbol-defs.{{staticAssetsVersion}}.svg#icon-facebook"></use></svg></a></li>
        {% case "vimeo" %}
          <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-socials icon-imdb"><use xlink:href="/assets/icons/symbol-defs.{{staticAssetsVersion}}.svg#icon-vimeo"></use></svg></a></li>
      {% endswitch %}
      {% endfor %}
    </ul>
  </div>
</div>
{# End Socials #}