{% set bodyClass = 'contact' %}

{% if entry.seoTitle|length %}
{% set seoTitle = entry.seoTitle %}
{% elseif entry.title|length %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription|length %}
{% set seoDescription = entry.seoDescription|striptags|raw %}
{% endif %}

{% if entry.seoImage|length  %}
{% set asset = entry.seoImage.one() %}
{% set seoImage = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}
{% elseif entry.image|length %}
{% set asset = entry.image.one() %}
{% set seoImage = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}
{% endif %}

{% extends "_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}


{% block main %}
<div class="grid-container">

{# Global Contacts #}
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 cell text-center text-uppercase">
       <div><a href="mailto:{{site.email}}">{{site.email}}</a></div>
       <div><a href="tel:{{site.phoneNumber}}">{{site.phoneNumber}}</a></div>
  </div>
</div>
{# End Global Contacts #}

{# Copyright #}
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 medium-6 cell text-center dark-gray">
    <small>All artwork and photography are copyrighted and protected under international copyright laws. Artwork may not be reproduced in any form, stored, or manipulated without prior written permission from {{ currentSite.name }} and the copyright holders.</small>
  </div>
</div>
{# End Copyright #}

{# Terms and Privacy #}
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="shrink cell">
    <ul class="menu simple dark-gray small text-uppercase letter-spacing--loose">
     <li><a href="/terms">Terms</a></li>
     <li><a href="/privacy-policy">Privacy</a></li>
     <li><a href="https://www.garethjohnsdesign.com">Credit</a></li>
    </ul>
  </div>
</div>
{# End Terms and Privacy #}

</div>
{% endblock %}


{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}